﻿@using SwiftBookingTest.Web.Business

@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>

<div>
    <input id="txtName" type="text" placeholder="Name" value="" /><br />
    <input id="txtPhone" type="text" placeholder="Phone" value="" /><br />
    <input id="txtAddress" type="text" placeholder="Address" value="" /><br />
    <button id="btnAddPerson">Add person</button>
</div>

<div>
    <h3>Saved people</h3>
    <ul id="records">
        @foreach (Person person in ViewBag.SavedPeople)
        {
            <li><button id="@person.Id" class="booking">Book</button> @person.Address </li>
        }
    </ul>

</div>
<div id="output" style="background-color:#eee;padding:20px;">
    
</div>